.login-buttom{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav_section{
  display: flex;
  justify-content: center;
}
.menu_list{
  display: flex;
  list-style-type: none;

}
.menu_list li {
  padding: 10px;
}
.menu_area{
  display: flex;
  justify-content: center;
}
